
.header
{
font-size: 23px;
width: 100%;
margin: 0px;

}

#status ,#number
{
font-size: 18px;
}

body{
    background-size: cover;
}

canvas{
border: 3px black;
box-sizing: 5px 5px 5px white;
margin-top: 50px;
}
